html {
  box-sizing: border-box;
}

html {
  margin: 0;
  min-height: 100vh;
  --s: 140px; /* control the size */
  --c1: #AB3E5B;
  --c2: #FFBE40;
  
  --_g: 
    #0000 25%,#0008 47%,var(--c1)  53% 147%,var(--c2) 153% 247%,
    var(--c1) 253% 347%,var(--c2) 353% 447%,var(--c1) 453% 547%,#0008 553%,#0000 575%;
  --_s: calc(25%/3) calc(25%/4) at 50%; 
  background:
    radial-gradient(var(--_s) 100%,var(--_g)),
    radial-gradient(var(--_s) 100%,var(--_g)) calc(var(--s)/2) calc(3*var(--s)/4),
    radial-gradient(var(--_s) 0   ,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(var(--_s) 0   ,var(--_g)) 0                calc(3*var(--s)/4),
    repeating-linear-gradient(90deg,#ACCEC0 calc(25%/-6) calc(25%/6),#61A6AB 0 calc(25%/2));
  background-size: var(--s) calc(3*var(--s)/2);
  color:#61A6AB;
  font-family: Montserrat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container{
  width:auto;
  max-width:40rem;
  padding:2rem 2rem;
  border-radius:1rem;
  background-color: #cb2753f7;
  color:#FFBE40;
  box-shadow:0 15px 15px 15px rgba(0, 0, 0, 0.50)
}

.quote-text{
  font-size:2rem;
  font-family: Lobster;
}

.long-quote{
  font-size:1.6rem;
}

.fa-quote-left{
  font-size:3rem;
}

.quote-author{
  margin-top: 1rem;
  font-size:1rem;
  font-weight:600;
  font-style: italic;
}

.button-container{
  margin-top:1rem;
  display:flex;
  justify-content: space-between;
}

button{
  cursor:pointer;
  font-size:1.2rem;
  height:2.5rem;
  border:none;
  border-radius:.6rem;
  outline:none;
  padding:.5rem 1.8rem;
  box-shadow:0.1rem 0.3rem rgba(0, 0, 0, 0.20);
  background-color: #a5c7e5;
  transition:background-color 200ms
}

button:hover{
  background:cornflowerblue;
  transition: all 200ms;
}

button:active{
  box-shadow:none;
  scale:0.97;
}

/**LOADEER**/
.loader {
  border: 8px solid #ffffff; /* Light grey */
  border-top: 8px solid #61A6AB; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 900ms cubic-bezier(0.35, 0.66, 0.95, 0.84) infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Media Query: Tablet or smaller devices*/

@media screen and (max-width:1000px){
  quote-container{
    margin:auto;
  }

  .quote-text{
    font-size:1.8rem;
  }
}